.root {
  display: block;
  background-color: black;
  color: white;
  border: none;

  transition: background-color 0.3s ease-in-out;

  padding: 10px;

  border-radius: 20px;

  &:hover {
    background-color: #3a3a3a;
  }
}
